{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-lg-12">

        <a href="{{ path('testcases.index') }}">◀ Back to testcases list</a>

        <h4 class="page-header">Testresult details</h4>

        <strong>Testcase: </strong>
        <a href="{{ path('testcases.edit', {'testcaseId': testresult.testcase.id}) }}">{{ testresult.testcase.title }}</a>
        <br>

        <strong>Date and time of run: </strong>
        {{ testresult.datetimeRun|date('Y-m-d H:i:s') }}
        <br>

        <strong>Exit code: </strong>
        {{ testresult.exitCode }}
        <br>

        <strong>Output: </strong>
        <br>
        <pre class="journeymonitor-testresult-output">{{ testresult.output }}</pre>

    </div>
</div>

{% endblock %}
