{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-lg-12">

        <a href="{{ path('testcases.index') }}">◀ Back to testcases list</a>

        <h4 class="page-header">Testresult details</h4>

        <p>
            <strong>Testcase: </strong>
            <a href="{{ path('testcases.edit', {'testcaseId': testresult.testcase.id}) }}">{{ testresult.testcase.title }}</a>
            <br>

            <strong>Date and time of run: </strong>
            {{ testresult.datetimeRun|date('Y-m-d H:i:s') }}
            <br>

            <strong>Exit code: </strong>
            {{ testresult.exitCode }}
        </p>

        {% if (testresult.failScreenshotFilename) %}
            <p>
                <a target="_blank" href="{{ path('testresult-screenshots', {'filename': testresult.failScreenshotFilename}) }}.png"><img class="img-thumbnail" width="256" src="{{ path('testresult-screenshots', {'filename': testresult.failScreenshotFilename}) }}_256.png"></a>
                <br>
                <small>Failure step screenshot - click to enlarge</small>
            </p>
        {% endif %}

        <p>
            <strong>Output: </strong>
            <br>
            <pre class="journeymonitor-testresult-output">{{ testresult.output }}</pre>
        </p>
    </div>
</div>

{% endblock %}
