{% if app.user %}
    <div id="loggedin-info">
        <small>Logged in as <b>{{ app.user.username }}</b></small>
    </div>
{% endif %}
<ul class="nav navbar-nav pull-right">
    <li><a href="{{ path('testcases.demo.index') }}">Demo</a></li>
    {% if app.user %}
        <li><a href="{{ path('testcases.index') }}">Your testcases</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
    {% else %}
        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
    {% endif %}
</ul>
