{% for testcase in testcases %}
    <tr class="testcase-entry-row">
        <td class="testcase-entry-cell">
            <a name="testcase-{{ testcase.id }}"></a>
            <h4 class="pull-left">
                <a {% if (not isRestrictedMode) %} href="{{ path('testcases.edit', {'testcaseId': testcase.id}) }}" {% else %} data-toggle="tooltip" data-placement="top" title="Not available in demo and guest view mode" {% endif %}>{{ testcase.title }}</a>
            </h4>
            <div class="pull-right testcase-entry-metainfo">
                <span class="label label-default">{{ testcase.cadence }}</span>
                {% if (testcase.enabled) %}
                    <span class="label label-success">Enabled</span>
                {% else %}
                    <span class="label label-warning">Disabled</span>
                {% endif %}
            </div>
            <div class="clear well well-sm">

                {% if (testcase.hasTestresults) %}
                    <div id="testcase-{{ testcase.id }}-requestchart"><svg style="height:200px" /></div>
                    <div id="testcase-{{ testcase.id }}-timingchart"><svg style="height:200px" /></div>

                    <a id="testcase-{{ testcase.id }}-showolderbutton"
                       class="btn btn-default btn-sm"
                       style="display: none;"
                       onClick="journeymonitor.testresultsFunctions['{{ testcase.id }}']['loadOlderDataFunction']();"
                        >â—€ Older results</a>
                    
                    <a id="testcase-{{ testcase.id }}-shownewerbutton"
                       class="btn btn-default btn-sm"
                       style="display: none;"
                       onClick="journeymonitor.testresultsFunctions['{{ testcase.id }}']['loadNewerDataFunction']();"
                       >Newer results â–¶</a>
                       
                    <a id="testcase-{{ testcase.id }}-shownewestbutton"
                       class="btn btn-default btn-sm"
                       style="display: none;"
                       onClick="journeymonitor.testresultsFunctions['{{ testcase.id }}']['loadNewestDataFunction']();"
                       >Newest results â–¶â–</a>
                    
                    <span id="testcase-{{ testcase.id }}-fetchmessage"
                          class="label label-primary"
                          style="display: none;"
                          >&nbsp;&nbsp;Fetching data, please wait...</span>

                    <!-- Always occupy the button space -->
                    <a class="btn btn-default btn-sm"
                       style="opacity: 0.001;"
                       >&nbsp;</a>

                    <a id="testcase-{{ testcase.id }}-toggleresultstablebutton"
                       class="btn btn-default btn-sm pull-right"
                       onClick="journeymonitor.testresultsFunctions['{{ testcase.id }}']['toggleResultsTableFunction']();"
                    >ğŒ“ Show/hide detailed table of results</a>
                    <pre id="testcase-{{ testcase.id }}-resultstable" class="resultstable" style="display: none;"></pre>

                    <script>
                        journeymonitor.testresultsFunctions['{{ testcase.id }}'] = journeymonitor.renderTestresults("{{ testcase.id }}");
                    </script>
                {% else %}
                    <small>No test run results yet.</small>
                {% endif %}

            </div>
            <div class="pull-right">
                {{ include('AppBundle:testcases:_testcase-buttons.html.twig') }}
            </div>
        </td>
    </tr>
{% endfor %}
