{% extends '::base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pagenav">
                        <a href="{% if (isDemoMode) %}/demo{% endif %}{{ path('testcases.index') }}">◀ Back to testcases list</a>

                        {% if (testresult.har) %}
                            <a class="pull-right" target="_blank" href="http://www.softwareishard.com/har/viewer/?inputUrl={{ app.request.getSchemeAndHttpHost() }}{{ path('testresult-show-har', {'testresultId': testresult.id}) }}">Show testrun performance waterfall ▶</a>
                        {% endif %}
                    </div>

                    <h4>Testresult details</h4>
                    <p>
                        <strong>Testcase: </strong>
                        <a
                                {% if (isRestrictedMode is defined and isRestrictedMode) %}
                                    data-toggle="tooltip" data-placement="top" title="Not available in demo and guest view mode"
                                {% else %}
                                    href="{{ path('testcases.edit', {'testcaseId': testresult.testcase.id}) }}"
                                {% endif %}
                                >{{ testresult.testcase.title }}</a>
                        <br>
                        <strong>Date and time of run: </strong>
                        {{ testresult.datetimeRun|date('Y-m-d H:i:s') }}
                        <br>
                        <strong>Exit code: </strong>
                        {{ testresult.exitCode }}
                    </p>

                    {% if (testresult.failScreenshotFilename) %}
                        <p>
                            <a target="_blank" href="{{ path('testresult-screenshots', {'filename': testresult.failScreenshotFilename}) }}.png"><img class="img-thumbnail" width="256" src="{{ path('testresult-screenshots', {'filename': testresult.failScreenshotFilename}) }}_256.png"></a>
                            <br>
                            <small>Failure step screenshot - click to enlarge</small>
                        </p>
                    {% endif %}

                    <p>
                        <strong>Output: </strong>
                        <br>
                    </p>
                    <pre class="journeymonitor-testresult-output">{{ testresult.output }}</pre>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
