<small>
    <span class="datetime label label-{% if (testresult.exitCode == 0) %}success{% elseif (testresult.exitCode == 2 or testresult.exitCode == 3) %}danger{% else %}warning{% endif %}">{{ testresult.datetimeRun|date("Y-m-d H:i") }}</span>
    &nbsp;&nbsp;
    <span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span>
    <a href="{% if (isDemoMode) %}/demo{% endif %}{{ path('testresults.show', {'testresultId': testresult.id}) }}">Log</a>

    {% if (testresult.har) %}
        &nbsp;&nbsp;
        <span class='glyphicon glyphicon-align-left' aria-hidden='true'></span>&nbsp;
        <a target='_blank' href='http://www.softwareishard.com/har/viewer/?inputUrl={{ app.request.getSchemeAndHttpHost() }}{{ path('testresult-show-har', {'testresultId': testresult.id}) }}'>Metrics</a>
    {% endif %}

    {% if (testresult.failScreenshotFilename) %}
        &nbsp;&nbsp;
        <span class='glyphicon glyphicon-camera' aria-hidden='true'></span>&nbsp;
        <a target='_blank' href='{{ path('testresult-screenshots', {'filename': testresult.failScreenshotFilename}) }}.png'>Screenshot</a>
    {% endif %}
</small>
<br>
