{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-lg-12">

        <a href="{{ path('testcases.index') }}">◀ Back to testcases list</a>

        <h4 class="page-header">Edit testcase</h4>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
</div>

{% endblock %}
