{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-lg-12">

        <a class="pull-right" href="{{ path('testcases.new') }}">＋ Add another testcase</a>

        <h4 class="page-header">Your testcases</h4>

        <table class="table">
            {% for testcase in testcases %}
                <tr class="journeymonitor-testcase-entry {% if loop.index0 is even %}journeymonitor-even{% endif %}">
                    <td>
                        <span class="label label-default">{{ testcase.cadence }}</span>
                        {% if (testcase.enabled) %}
                            <span class="label label-success">Enabled</span>
                        {% else %}
                            <span class="label label-default">Disabled</span>
                        {% endif %}
                        <h4>
                            <a href="{{ path('testcases.edit', {'testcaseId': testcase.id}) }}">{{ testcase.title }}</a>
                        </h4>

                        <div class="well">
                            {% if (testcase.testresults|length > 0) %}
                                <h5>History of test run results:</h5>
                                <div>
                                    {% for testresult in testcase.testresults|slice(0, 5) %}
                                        <small>
                                            <span class="label label-{% if (testresult.exitCode == 0) %}success{% else %}danger{% endif %}">{{ testresult.datetimeRun|date("Y-m-d H:i:s") }}</span>
                                            <a href="{{ path('testresults.show', {'testresultId': testresult.id}) }}">Show result details</a>
                                        </small>
                                        <br>
                                    {% endfor%}
                                </div>

                                {% if (testcase.testresults|length > 5) %}
                                    <small>
                                        <a href="javascript:;" data-toggle="collapse" data-target="#testresults-{{ testcase.id }}">Show all available results</a>
                                    </small>

                                    <div class="collapse" id="testresults-{{ testcase.id }}">
                                        {% for testresult in testcase.testresults|slice(5, 1000) %}
                                            <small>
                                                <span class="label label-{% if (testresult.exitCode == 0) %}success{% else %}danger{% endif %}">{{ testresult.datetimeRun|date("Y-m-d H:i:s") }}</span>
                                                <a href="{{ path('testresults.show', {'testresultId': testresult.id}) }}">Show result details</a>
                                            </small>
                                            <br>
                                        {% endfor%}
                                    </div>
                                {% endif %}
                            {% else %}
                                <small>No test run results yet.</small>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="pull-right">
                            <p>
                                <a class="btn btn-primary" href="{{ path('testcases.edit', {'testcaseId': testcase.id}) }}">Edit</a>
                            </p>
                            {% if (testcase.enabled) %}
                                <p>
                                    <a class="btn btn-default btn-sm" href="{{ path('testcases.disable', {'testcaseId': testcase.id}) }}">Disable</a>
                                </p>
                            {% else %}
                                <p>
                                    <a class="btn btn-default btn-sm" href="{{ path('testcases.enable', {'testcaseId': testcase.id}) }}">Enable</a>
                                </p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}
