{% extends '::base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h4>Your testcases</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-info">
                                <p class="panel-body">
                                    Hover over (on mobile: tap) each block in the timeline for
                                    access to the Selenium <b>logs</b>, web performance
                                    <b>metrics</b> (detailed waterfall for each page requested), and
                                    failure <b>screenshots</b>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="pagenav">
                        <a class="pull-right" {% if (not isDemoMode) %} href="{{ path('testcases.new') }}" {% else %} data-toggle="tooltip" data-placement="top" title="Not available in demo mode" {% endif %}>＋ Add another testcase</a>
                    </div>

                    <table class="table testcases">
                        {% for testcase in testcases %}
                            <tr class="testcase-entry-row">
                                <td class="testcase-entry-cell">
                                    <h4 class="pull-left">
                                        <a {% if (not isDemoMode) %} href="{{ path('testcases.edit', {'testcaseId': testcase.id}) }}" {% else %} data-toggle="tooltip" data-placement="top" title="Not available in demo mode" {% endif %}>{{ testcase.title }}</a>
                                    </h4>
                                    <div class="pull-right testcase-entry-metainfo">
                                        <span class="label label-default">{{ testcase.cadence }}</span>
                                        {% if (testcase.enabled) %}
                                            <span class="label label-success">Enabled</span>
                                        {% else %}
                                            <span class="label label-default">Disabled</span>
                                        {% endif %}
                                    </div>
                                    <div class="clear well well-sm">
                                        {% if (testcase.limitedtestresults(100)|length > 0) %}
                                            {% spaceless %}
                                                <div class="inline-block">
                                                {% for testresult in testcase.limitedtestresults(100)|slice(0, 50)|reverse %}
                                                    {% if loop.first %}
                                                        <small>
                                                            ┌
                                                            {% if "now"|date("Y-m-d") == testresult.datetimeRun|date("Y-m-d") %}
                                                                today at {{ testresult.datetimeRun|date("H:i") }}
                                                            {% elseif "-1 day"|date("Y-m-d") == testresult.datetimeRun|date("Y-m-d") %}
                                                                yesterday at {{ testresult.datetimeRun|date("H:i") }}
                                                            {% else %}
                                                                {{ testresult.datetimeRun|date("Y-m-d \\a\\t H:i") }}
                                                            {% endif %}
                                                        </small>
                                                        <br>
                                                    {% endif %}
                                                    <a class="testresult-dot-anchor label-{% if (testresult.exitCode == 0) %}success{% elseif (testresult.exitCode == 2 or testresult.exitCode == 3) %}danger{% else %}warning{% endif %}"
                                                       title="{{ testresult.datetimeRun|date("Y-m-d H:i") }}"
                                                       data-content="
                                                           {% if (testresult.exitCode == 0) %}
                                                               Journey completed without error.
                                                           {% elseif (testresult.exitCode == 2 or testresult.exitCode == 3) %}
                                                               Journey could not be completed.
                                                           {% else %}
                                                               There was a problem with the test case script.
                                                           {% endif %}
                                                           <br>
                                                           <br>
                                                           <span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span>&nbsp;
                                                           <a href='{% if (isDemoMode) %}/demo{% endif %}{{ path('testresults.show', {'testresultId': testresult.id}) }}'>Click for Selenium log</a>
                                                           {% if (testresult.har) %}
                                                               <br>
                                                               <span class='glyphicon glyphicon-align-left' aria-hidden='true'></span>&nbsp;
                                                               <a target='_blank' href='http://www.softwareishard.com/har/viewer/?inputUrl={{ app.request.getSchemeAndHttpHost() }}{{ path('testresult-show-har', {'testresultId': testresult.id}) }}'>Click for performance metrics</a>
                                                           {% endif %}
                                                           {% if (testresult.failScreenshotFilename) %}
                                                               <br>
                                                               <span class='glyphicon glyphicon-camera' aria-hidden='true'></span>&nbsp;
                                                               <a target='_blank' href='{{ path('testresult-screenshots', {'filename': testresult.failScreenshotFilename}) }}.png'>Click for failure screenshot</a>
                                                           {% endif %}
                                                       "
                                                       href="{% if (isDemoMode) %}/demo{% endif %}{{ path('testresults.show', {'testresultId': testresult.id}) }}"></a>

                                                    {% if loop.last and not loop.first %}

                                                        {% if loop.last and loop.index > 6 %}
                                                            <br>
                                                        {% endif %}

                                                        <small class="until pull-right">
                                                            {% if loop.index <= 6 %}
                                                                &nbsp;&nbsp;─&nbsp;
                                                            {% endif %}

                                                            {% if "now"|date("Y-m-d") == testresult.datetimeRun|date("Y-m-d") %}
                                                                today at {{ testresult.datetimeRun|date("H:i") }}
                                                            {% elseif "-1 day"|date("Y-m-d") == testresult.datetimeRun|date("Y-m-d") %}
                                                                yesterday at {{ testresult.datetimeRun|date("H:i") }}
                                                            {% else %}
                                                                {{ testresult.datetimeRun|date("Y-m-d \\a\\t H:i") }}
                                                            {% endif %}

                                                            {% if loop.index > 6 %}
                                                                ┘
                                                            {% endif %}
                                                        </small>

                                                    {% endif %}

                                                {% endfor %}
                                                </div>
                                            {% endspaceless %}
                                        {% else %}
                                            <small>No test run results yet.</small>
                                        {% endif %}
                                        {% if (testcase.limitedtestresults(100)|length > 50) %}
                                            <br>
                                            <br>
                                            <small>
                                                <a href="javascript:return false;" data-toggle="collapse" data-target="#testresults-{{ testcase.id }}">Show last 100 results</a>
                                            </small>

                                            <div class="collapse" id="testresults-{{ testcase.id }}">
                                                {% for testresult in testcase.limitedtestresults(100)|slice(50, 100) %}
                                                    <small>
                                                        <span class="datetime label label-{% if (testresult.exitCode == 0) %}success{% elseif (testresult.exitCode == 2 or testresult.exitCode == 3) %}danger{% else %}warning{% endif %}">{{ testresult.datetimeRun|date("Y-m-d H:i") }}</span>
                                                        &nbsp;&nbsp;
                                                        <span class='glyphicon glyphicon-eye-open' aria-hidden='true'></span>
                                                        <a href="{% if (isDemoMode) %}/demo{% endif %}{{ path('testresults.show', {'testresultId': testresult.id}) }}">Log</a>

                                                        {% if (testresult.har) %}
                                                            &nbsp;&nbsp;
                                                            <span class='glyphicon glyphicon-align-left' aria-hidden='true'></span>&nbsp;
                                                            <a target='_blank' href='http://www.softwareishard.com/har/viewer/?inputUrl={{ app.request.getSchemeAndHttpHost() }}{{ path('testresult-show-har', {'testresultId': testresult.id}) }}'>Metrics</a>
                                                        {% endif %}

                                                        {% if (testresult.failScreenshotFilename) %}
                                                            &nbsp;&nbsp;
                                                            <span class='glyphicon glyphicon-camera' aria-hidden='true'></span>&nbsp;
                                                            <a target='_blank' href='{{ path('testresult-screenshots', {'filename': testresult.failScreenshotFilename}) }}.png'>Screenshot</a>
                                                        {% endif %}
                                                    </small>
                                                    <br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="pull-right">
                                            <a class="btn btn-primary btn-sm"
                                                {% if (not isDemoMode) %}
                                                    href="{{ path('testcases.edit', {'testcaseId': testcase.id}) }}"
                                                {% else %}
                                                    data-toggle="tooltip" data-placement="top" title="Not available in demo mode"
                                                {% endif %}>Edit</a>
                                        {% if (testcase.enabled) %}
                                            <a class="btn btn-default btn-sm"
                                                {% if (not isDemoMode) %}
                                                    href="{{ path('testcases.disable', {'testcaseId': testcase.id}) }}"
                                                {% else %}
                                                    data-toggle="tooltip" data-placement="top" title="Not available in demo mode"
                                            {% endif %}>Disable</a>
                                        {% else %}
                                            <a class="btn btn-default btn-sm"
                                                {% if (not isDemoMode) %}
                                                    href="{{ path('testcases.enable', {'testcaseId': testcase.id}) }}"
                                                {% else %}
                                                    data-toggle="tooltip" data-placement="top" title="Not available in demo mode"
                                                {% endif %}>Enable</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts_additional %}
    <script>
        $('.testresult-dot-anchor').popover({
            html: true,
            trigger: 'manual',
            container: $(this).attr('id'),
            placement: 'top'
        }).on("mouseenter", function () {
            var _this = this;
            $(this).popover("show");
            $(this).siblings(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide")
                }
            }, 0);
        });
    </script>
{% endblock %}
