{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-lg-12">

        <a href="{{ path('testcases.new') }}">＋ Add another testcase</a>

        <h4 class="page-header">Your testcases</h4>

        <table class="table">
            {% for testcase in testcases %}
                <tr class="testcase-entry {% if loop.index0 is even %}even{% endif %}">
                    <td>
                        <span class="label label-default">{{ testcase.cadence }}</span>
                        {% if (testcase.enabled) %}
                            <span class="label label-success">Enabled</span>
                        {% else %}
                            <span class="label label-default">Disabled</span>
                        {% endif %}
                        <h5>
                            <a href="{{ path('testcases.edit', {'testcaseId': testcase.id}) }}">{{ testcase.title }}</a>
                        </h5>
                    </td>
                    <td>
                        <div class="pull-right">
                            <p>
                                <a class="btn btn-primary" href="{{ path('testcases.edit', {'testcaseId': testcase.id}) }}">Edit</a>
                            </p>
                            {% if (testcase.enabled) %}
                                <p>
                                    <a class="btn btn-default btn-sm" href="{{ path('testcases.disable', {'testcaseId': testcase.id}) }}">Disable</a>
                                </p>
                            {% else %}
                                <p>
                                    <a class="btn btn-default btn-sm" href="{{ path('testcases.enable', {'testcaseId': testcase.id}) }}">Enable</a>
                                </p>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
</div>

{% endblock %}
