{% extends '::base.html.twig' %}

{% block body %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('testcases.index') }}">◀ Back to testcases list</a>
                    <h4 class="page-header">Add another testcase</h4>

                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
