<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Manuel Kiessling">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block title %}JourneyMonitor{% endblock %}</title>

    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Pacifico' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/app/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/default.css') }}">

        <link rel="stylesheet" href="{{ asset('bundles/app/vendor_static/gh-fork-ribbon-0.1.1.min.css') }}" />
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="{{ asset('bundles/app/vendor_static/gh-fork-ribbon-0.1.1.ie.min.css') }}" />
        <![endif]-->
    {% endblock %}

    {% block javascripts_head %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/app/vendor_static/html5shiv-3.7.2.min.js') }}"></script>
        <script src="{{ asset('bundles/app/vendor_static/respond-1.4.2.min.js') }}"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
    <div class="github-fork-ribbon-wrapper right-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/journeymonitor/control">Fork me on GitHub</a>
        </div>
    </div>
    <header class="clearfix">
        <nav class="navbar navbar-fixed-top">
            <div class="wrapper">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brandname brand navbar-brand" href="{{ path('homepage') }}">Journey<span class="glyphicon glyphicon glyphicon-check" aria-hidden="true"></span><span class="right-word">Monitor</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        {{ include('_right-navigation.html.twig') }}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {{ include('_messages.html.twig') }}

    {% block body %}{% endblock %}

    <footer>
        <section class="container">
            &copy; {{ "now"|date("Y") }} The<span class="brand"><span class="left-word">Journey</span><span class="glyphicon glyphicon glyphicon-check" aria-hidden="true"></span><span class="right-word">Monitor</span></span> Team<br>
            <a href="mailto:replies-welcome@journeymonitor.com">Get in touch</a>
            &nbsp;
            <a href="{{ path('imprint') }}">Imprint</a>
        </section>
    </footer>

    {% block javascripts_foot %}
        <script src="{{ asset('bundles/app/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/app/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $('[data-toggle="popover"]').popover();
            })
        </script>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ asset('bundles/app/vendor_static/ie10-viewport-bug-workaround.js') }}"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-2127388-13', 'auto');
            ga('send', 'pageview');
        </script>
    {% endblock %}
    {% block javascripts_additional %}{% endblock %}
</body>
</html>
